.hand-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: repeat(2, fit-content(50vw));
    align-content: center;

    z-index: 1;
}

img.hand {
    max-height: 200px;
    max-width: 50vw;
}

#player-hand {
    transform: scaleX(-1) rotate(-90deg);
    animation: playerAnimation 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
}
#cpu-hand {
    transform: rotate(-90deg);
    animation: cpuAnimation 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
}

@keyframes playerAnimation {
    0% {transform: scaleX(-1) rotateZ(-90deg) translate(0, 0);}
    50% {transform: scaleX(-1) rotateZ(-45deg) translate(5rem,-5rem);}
    100% {transform: scaleX(-1) rotateZ(-90deg) translate(0, 0);}
}

@keyframes cpuAnimation {
    0% {transform: rotateZ(-90deg) translate(0, 0);}
    50% {transform: rotateZ(-45deg) translate(5rem, -5rem);}
    100% {transform: rotateZ(-90deg) translate(0, 0);}
}