@import 'animation.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1, h2 {
    grid-column: 1 / 4;
    text-align: center;
    margin: 1rem;
}
img {
    margin: 1rem auto;
    max-height: 200px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.3);
}
.modal-content {
    background-color: #fefefe;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 300px;
    text-align: center;
    transition: all 0.5s;
}
.modal-content p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.open {
    display: block;
}
i.fa-times-circle {
   font-size: 30px;
   position: relative;
   left: 50%;
   top: -35px;
}
i.fa-times-circle:hover {
    color: rgb(49, 49, 49);
}